* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.m3 {
    position: relative;
    background: url('https://scontent.fhan3-3.fna.fbcdn.net/v/t1.15752-9/274263190_1134867440597085_2943144217188038634_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_ohc=Hwjqm1Rhaz4AX8b2EGU&_nc_ht=scontent.fhan3-3.fna&oh=03_AVI-hBEsAKZmLPjnEhIQ3zrp1i0-7FHSQbyYfdGKpLzS0w&oe=6245CF1E') top center / cover no-repeat;
    width: 416px;
    height: 625px;
}

.m3-body {
    color: #fff;
    min-height: 200px;
    text-align: center;
    padding-top: 75px;
}

.m3-clock {
    font-size: 65px;
    margin: 16px 0;
}

.m3 i {
    font-size: 30px;
}

.m3-time {   
     margin: 16px 0;
}

.m3-btn {
    width: 100%;
    border: none;
    margin-top: 150px;
    color: #000;
    background-color: #fff;
    padding: 16px;
    opacity: 0.5;
    font-size: 16px;
}

.m3-btn:hover {
    background-color: #ccc;
    color: #000;
}

.m3-footer i{
    color: #fff;
    float: right;
    margin-right: 25px;
    margin-top: 140px;
    font-size: 24px;
}

.m4 {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: url('https://scontent.fhan3-3.fna.fbcdn.net/v/t1.15752-9/274728413_288635263230588_516906024284853780_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_ohc=Y45WU9-WkRsAX-cF-qz&_nc_ht=scontent.fhan3-3.fna&oh=03_AVKAF2WBk0JZkRTwvMWGkhHcfwNEEJpUaE2NVkac4jHWBA&oe=6245D443')top center / cover no-repeat;
    width: 416px;
    height: 625px;
    color: #fff;
    display: none;
}

.m4.open {
    display: flex;
}

.m4-heading {
    display: flex;
    margin: 10px 4px;
    font-size: 18px;
}

.m4-heading .ti-bar-chart {
    margin-left: 283px;
}

.m4-search {
    width: 100%;
    height: 32px;
    border: none;
    opacity: 0.6;
    border-radius: 15px;
    color: #000;
}

.m4-body {
    height: 500px;
}

.m4-body1 {
    margin: 44px 0;
}

.m4-body2 {
    padding: 32px 0;
}

.m4-body3 {
    float: left;
    text-align: center;
    width: 33.3333%;
}

.m4-body3 i {
    font-size: 44px;
}

.m4-btn {
    color: #fff;
    padding: 8px;
    border-radius: 20px;
}

.m4-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
}

.m4-footer1 {
    background-color: #fff;
    color: #000;
    float: left;
    width: 33.3333%;
    padding: 16px 0;
}

.m4-footer1 i{
    padding: 0 59px;
    font-size: 20px;
}

.m4-footer-forward:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#m1 {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 416px;
    height: 625px;
    background-color: rgba(0, 0, 0, 1);
    align-items: center;
    justify-content: center;
    display: flex;
}

#m1.close {
    display: none;
}

.m1-container {
    background-color: #000;
    width: 300px;
    min-height: 100px;
    position: relative;
}

.m1-heading {
    background-color: red;
    color: #fff;
    text-align: center;
    height: 30px;
}

.m1-body {
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-top: 8px;
    line-height: 1.6;
}













