* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.m3 {
    position: relative;
    background: url('https://scontent.fhan3-3.fna.fbcdn.net/v/t1.15752-9/274263190_1134867440597085_2943144217188038634_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_ohc=Hwjqm1Rhaz4AX8b2EGU&_nc_ht=scontent.fhan3-3.fna&oh=03_AVI-hBEsAKZmLPjnEhIQ3zrp1i0-7FHSQbyYfdGKpLzS0w&oe=6245CF1E') top center / cover no-repeat;
    width: 416px;
    height: 720px;
}

.m3-body {
    color: #fff;
    min-height: 200px;
    text-align: center;
    padding-top: 75px;
}

.m3-clock {
    font-size: 65px;
    margin: 16px 0;
}

.m3 i {
    font-size: 30px;
}

.m3-time {   
     margin: 16px 0;
}

.m3-btn {
    width: 100%;
    border: none;
    margin-top: 150px;
    color: #000;
    background-color: #fff;
    padding: 16px;
    opacity: 0.5;
    font-size: 16px;
}

.m3-btn:hover {
    background-color: #ccc;
    color: #000;
}

.m3-footer i{
    color: #fff;
    float: right;
    margin-right: 25px;
    margin-top: 224px;
    font-size: 24px;
}

.m3-footer i:hover {
    color: rgba(255, 255, 255, 0.3)
}

.m4 {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: url('https://scontent.fhan3-3.fna.fbcdn.net/v/t1.15752-9/274728413_288635263230588_516906024284853780_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_ohc=Y45WU9-WkRsAX-cF-qz&_nc_ht=scontent.fhan3-3.fna&oh=03_AVKAF2WBk0JZkRTwvMWGkhHcfwNEEJpUaE2NVkac4jHWBA&oe=6245D443')top center / cover no-repeat;
    width: 416px;
    height: 720px;
    color: #fff;
    display: none;
}

.m4.open {
    display: flex;
}

.m4-heading {
    display: flex;
    margin: 10px 4px;
    font-size: 18px;
}

.m4-heading .ti-bar-chart {
    margin-left: 283px;
}

.m4-search {
    width: 100%;
    height: 32px;
    border: none;
    opacity: 0.6;
    border-radius: 15px;
    color: #000;
}

.m4-body {
    height: 500px;
}

.m4-body1 {
    margin: 44px 0;
}

.m4-body2 {
    padding: 32px 0;
}

.m4-body3 {
    float: left;
    text-align: center;
    width: 33.3333%;
}

.m4-body3 i {
    font-size: 44px;
}

.m4-btn {
    color: #fff;
    padding: 8px;
    border-radius: 20px;
}

.m4-body3:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
}

.m4-footer {
    margin: 90px 0;
}

.m4-footer1 {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
    float: left;
    width: 33.3333%;
    padding: 16px 0;
}

.m4-footer1 i{
    padding: 0 59px;
    font-size: 20px;
}

.m4-footer1:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#m1 {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 416px;
    height: 720px;
    background-color: rgba(0, 0, 0, 1);
    align-items: center;
    justify-content: center;
    display: flex;
}

#m1.close {
    display: none;
}

.m1-container {
    background-color: #000;
    width: 300px;
    min-height: 100px;
    position: relative;
}

.m1-heading {
    background-color: red;
    color: #fff;
    text-align: center;
    height: 30px;
}

.m1-body {
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-top: 8px;
    line-height: 1.6;
}

#m2 {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 416px;
    height: 720px;
    background: url('https://scontent.fhan4-1.fna.fbcdn.net/v/t39.30808-6/271234488_2947284722202020_3047944936702967566_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=yVcv_eSgqUAAX918zt4&_nc_ht=scontent.fhan4-1.fna&oh=00_AT87RV4yLEz7tqkhN3LjVzl_iD3K96Lx49ZVHw-ydyeOQg&oe=6227D55C')top center / cover no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
}

#m2.close {
    display: none;
}

.m2-container {
    background-color: #fff;
    width: 300px;
    min-height: 150px;
    animation: modalFadeIn ease 2s;
}

.m2-heading {
    background-color: #74A12E;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-size: 16px;
    letter-spacing: 2px;
}

.m2-heading i {
    margin-right: 8px;
    margin-bottom: 6px;
}

.m2-body {
    padding: 12px;
}

.m2-label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

.m2-input {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 12px;
    padding: 8px;
    margin-bottom: 8px;
}

.m2-btn {
    width: 100%;
    background-color: #74A12E;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 16px;
}

.m2-btn:hover {
    background-color: #ccc;
    color: #000;
}

#m5 {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    width: 416px;
    height: 720px;
    color: #fff;
    display: none;
}

#m5.open {
    display: flex;
}

.m5-container {
    margin: 12px;
    animation: modalFadeIn2 ease 0.8s;
}

.m5-heading {
    font-size: 35px;
}

.m5-heading i {
    float: right;
    margin: 4px;
}

.m5-img-heading {
    width: 10%;
    border-radius: 50%;
}

.m5-body {
    width: 100%;
    min-height: 150px;
    margin: 16px 0;
}

.m5-input {
    width: 100%;
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 10px;
    border-radius: 6%;

}

.m5-body i {
    float: left;
    margin-top: 24px;
    font-size: 60px;
}

.m5-video {
    margin-top: 90px;
}

.m5-main {
    display: flex;
    margin-top: 24px;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
}

.m5-Liu {
    margin-left: 24px;
    font-size: 32px;
}

.ti-apple {   
     font-size: 32px;
}

.m5-mess {
    position: absolute;
    margin-top: 40px;
    margin-left: 85px;
}

.m5-img-main {
    width: 15%;
    border-radius: 50%;
}

.ti-check-box {
    position: absolute;
    font-size: 16px;
    margin-left: 375px;
    margin-top: 40px;
}

.m5-footer {
    margin-top: 338px;
}

.m5-f1 {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
    float: left;
    width: 33.3333%;
    padding: 16px 0;
}

.m5-f1 i{
    padding: 0 59px;
    font-size: 20px;
}

.m5-f1:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

@keyframes modalFadeIn{
    from {
        transform: translateY(-300px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes modalFadeIn2{
    from {
        transform: translateX(-300px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}






